.todolist {
  background-color: rgba(232, 210, 224, 0.3);
  padding: 25px;
  border: 2px solid black;
  border-radius: 15px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.tasksList {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 5px;

  width: 100%;
}

.buttonContainer {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 10px;
}

