.todolist {
  background-color: rgba(168, 112, 153, 0.42);
  padding: 25px;
  border: 2px solid black;
  border-radius: 15px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.tasksList {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 5px;

  width: 100%;

  li {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    column-gap: 10px;

    span {
      display: inline-block;
      flex-grow: 1;
    }

    &.isDone {
      opacity: 0.5;
    }
  }
}

.buttonContainer {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 10px;

  //button {
  //  &.activeFilter {
  //    background-color: aquamarine;
  //  }
  //}
}

