.error {
  text-align: center;
  font: 600 16px sans-serif;
  color: red;
}

.captchaError {
  margin-top: 30px;
  border: 2px solid red;
  padding: 10px 0;
}

.captchaImg {
  margin-top: 20px;
  border: 2px solid red;
}